    .md{
         border: 1px solid white;
         width: 600px;
         height: 1500px;
         background-color: aliceblue;
         margin-left: 400px;

      }
     .name{
          font-family: sans-serif;
          text-align:center;
    
       }
       .bar{
        position: relative;
        left:30px;
        top: 60px;
       }
       .phone{
        position: relative;
        top:-58px;
        left:500px;
       }
       .image{
        position: relative;
        left: 30px;
       }
       #img1{
        color:rgb(0, 0, 0);
        position: relative;
        top: -80px;
        left: 20px;
        font-size: 35px;
        

       }
       .devicer{
        width: 20em;
        display: block;
        height: 2px;
        background-color: black;
        margin-left: 90px;
       }
       .box1{
        position: relative;
        left: 80px;
        margin: 0px;
       }
       .pen{
        position: relative;
        left: 390px;
        bottom: 70px;
       }
       #text1{
        position: relative;
        bottom: 40px;
        font-size: 25px;
        font-family: sans-serif;
       }
       .save{
        border: 1px solid green;
        width: 450px;
        height: 50px;
        background-color: rgb(6, 245, 6);
        color: black;
        position: relative;
        left: 70px;
        font-size: 25px;
        font-family: sans-serif;
        border-radius: 5px;
        
       }
       .logout{
        position: relative;
        left: 80px;
        top: 10px;
       }
       .save1{
        position: relative;
        left: 240px;
        top: 10px;
       }
       .s1{
        height: 1em;
        display: block;
        width: 2px;
        background-color: black;
        position: relative;
        left: 230px;
        bottom: 16px;

       }
       
       

